<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xybbz.mapper.BlogReplyDAO">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xybbz.blog.entity.BlogReply">
        <result column="id" property="id"/>
        <result column="reply_pid" property="replyPid"/>
        <result column="blog_id" property="blogId"/>
        <result column="reply_user_id" property="replyUserId"/>
        <result column="reply_type" property="replyType"/>
        <result column="reply_context" property="replyContext"/>
        <result column="reply_time" property="replyTime"/>
        <result column="is_delete" property="isDelete"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_time" property="createTime"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        reply_pid, blog_id, reply_user_id, reply_type, reply_context, reply_time, is_delete, update_time, create_time
    </sql>


</mapper>
