<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xybbz.mapper.BulletinDAO">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xybbz.blog.entity.Bulletin">
    <result column="id" property="id" />
        <result column="bulletin_content" property="bulletinContent" />
        <result column="add_time" property="addTime" />
        <result column="is_enable" property="isEnable" />
        <result column="is_delete" property="isDelete" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>



    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        bulletin_content, add_time, is_enable, is_delete, update_time, create_time
    </sql>


</mapper>
